body {
    font-family: "Arial", Helvetica, sans-serif;
    
}
h1, h2, h3 {
    font-family: Impact, Charcoal, sans-serif;
}

h1 {
    color: blue;
}
header h2 {
    color: gray;
    
}

.card-title {
  color: rgb(0, 110, 255);
  font-weight: bold;
}


.card {
  border: rgb(0, 110, 255) solid 2px;
}


.jumbotron {
  margin: 0px;
  padding: 0px;
  background-color: white;
 
}
.rows-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200 px;
}
.navbar{
   background:gray;
}

.tab-content {
    border: 1px solid white;
    border-top: none;
    padding: 10px;
}
.column {
  float: left;
  margin-left: 0px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.logo{
  float: left;
  margin-left:0px;
  width: 50%;
}
.col {
  margin: 0 auto;
  padding: 40px;
}

.mainHeader {
  color: blue;
  
}

.subHeader {
  color: rgb(0, 60, 255);
  font-weight: 500;
}
.mainContainer {
  background-color:lightgray;
}

.centerContainer {
  margin: auto;
  padding: 30px;
  border: rgb(0, 110, 255) solid 4px;

}
.locationContainer {
  width: 50%;
  float: left;
  
}
.locationHeader {
  color: white;
  font-weight: bold;
  background-color: blue;
}

.perkList {
    margin: 10px 0;
    list-style-type: circle;
    
}

.getStarted {
  position: absolute;
  right: 0px;
  width: 200px;
  padding: 10px;
  
}

.rows-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200 px; }

 
.site-footer{
  background-image: linear-gradient(#CEC8FF, white);
}



.modal-title {
 background-color: green;
 color: white;
 text-align: center;
 width: 500px;
}

.modal-subtitle {
  color: black;
  text-align: center;
}

.modal-content {
  border: solid black 2px;
}

.benefitListHeader {
  color: blue;
  font-weight: bold;
  text-align: center;
}
.benefitList {
  text-align: center;
  list-style-type: none;

}

.ulPrice {
  color: black;
  text-decoration-line: underline;
  font-weight:bold;

}